div.col
    div.radio_button
        div.btn-group(data-toggle="buttons")
            label.btn.btn-secondary.active
                input.option1(type="radio" name="options" autocomplete="off" checked)
            label.btn.btn-secondary
                input.option2(type="radio" name="options" autocomplete="off")
    div.col-12
        - var n = 0
        while n < 5
            - n++
            div.card
                p Lorem impsum
        div.row.mr-0.ml-0
            div.col#latestMatches
                div.card
                    div.card-header Latest Matches
                    ul.list-group.list-group-flush(v-for='match in matches')
                        li.list-group-item
                            span(:class='[match.team1.result > match.team2.result ? "text-success":"text-danger"]') {{ match.team1.name }}
                            span  - 
                            span(:class='[match.team1.result < match.team2.result ? "text-success":"text-danger"]') {{ match.team2.name }}
                            span  {{ match.team1.result }}:{{ match.team2.result }}
            div.col
                figure.figure
                    img.poster(src="https://i.pinimg.com/736x/b4/a5/00/b4a500f0981128613e129c8a3d25346c--vans-black-friday-friday-.jpg")
    script(src='/javascripts/latestMatches.js')
