if query.signuperror
    div.alert.alert-danger(role="alert")
        strong Oh snap! 
        span user already signed up
else if query.loginerror
    div.alert.alert-danger(role="alert")
        strong Oh snap! 
        span user not signed up
