div(id="matches")
	div.matches_wrapper
		div(v-for="match in matchesList")
			div.card.text-center.imageFit(v-bind:style="{ 'background-image': 'url(/image/' + match.maps[0] + '.png)' }")
				h4.isLive(v-if="!match.live == true")
				h4.isLive(v-else) Live
				h4.card-title {{ match.team1.name }} VS {{ match.team2.name }}
				h4 Format: {{ match.format }}
				a.btn.btn-warning(:href="'/match/' + match.id") Go to Match
				ul(v-if="match.maps[0] != 'undefined'")
					li(v-for="map in match.maps") {{ map }}
				p(v-else) TBA
					
script(src="javascripts/components/matchesVue.js")
//h2 Event name: {{ match.event.name }}		
