extends layout

block content
    div#betsPage
        div.card
            div.card-header
                ul.nav.nav-tabs.card-header-tabs
                    li.nav-item
                        button.nav-link.btn.btn-link(v-on:click='filter="active"' v-bind:class='{"active": filter=="active"}') Active
                    li.nav-item
                        button.nav-link.btn.btn-link(v-on:click='filter="finished"' v-bind:class='{"active": filter=="finished"}') Finished
                    li.nav-item
                        button.nav-link.btn.btn-link(v-on:click='filter=-1' v-bind:class='{"active": filter==-1}') All
            div.table-responsive
                table.table.table-striped.mb-0
                    thead
                        tr
                            th #
                            th Date
                            th(v-if='filter!="active"') Won
                            th Deposited
                            th Game
                    tbody
                        tr(v-for='(bet, index) in getBets()')
                            th(scope='row') {{ index + 1 }}
                            td {{ getDate(bet.date) }}
                            td(v-if='filter!="active"')
                                span.badge.badge-info(v-if='bet.active') not over
                                span.badge.badge-success(v-else-if='bet.won') {{ bet.payout }}
                                span.badge.badge-danger(v-else) {{ bet.payout }}
                            td {{ bet.amount }}
                            td
                                a.btn.btn-warning(role='button' v-bind:href='"/match/" + bet.id') Go to game
block footerScripts
    script const bets=!{pageData};
    script(src='/javascripts/betsPage.js')
