extends layout

block headerScripts
    script(src='/javascripts/socket.io.min.js')
block content
    div#match_wrapper
        div.row
            div.col-lg-8
                include includes/matchCard.pug
                div(v-if='streams.length != 0').embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(v-bind:src='streams[0].link' allowfullscreen)
                div.card.text-center
                    div.card-header Head to Head
                    ul(v-if='headToHead.length != 0').list-group.list-group-flush
                        li.list-group-item.d-flex.justify-content-center(v-for='match in getHeadToHead()')
                            div.col.text-left {{ match.event.name }}
                            div {{ match.team1 }}:{{ match.team2 }}
                            div.col.text-right {{ match.date }}
                    div(v-else).card-body
                        p.card-text No previous head to head games
                h4
                    a(v-bind:href='"/team/"+team1.id') {{ team1.name }}
                ul
                    li(v-for='player in players.team1')
                        a(v-bind:href='"/player/" + player.id') {{ player.name }}
                h4
                    a(v-bind:href='"/team/"+team2.id') {{ team2.name }}
                ul
                    li(v-for='player in players.team2')
                        a(v-bind:href='"/player/" + player.id') {{ player.name }}
            div.col
                include includes/betInput.pug
                include includes/betsCard.pug

block footerScripts
    script const matchId=#{pageId};const match=!{pageData};
    script(src='/javascripts/components/socket_match.js')
    script(src='/javascripts/components/matchPage.js')
