extends layout

block content
    div#player_wrapper
        p  {{ name }}
        p  {{ ign }}
        a(v-bind:href='"/team/"+team.id')  {{ team.name }}
        p  {{ country.name }}, {{ country.code }}
        
block footerScripts
    script const playerId=#{pageId};const player=!{pageData};
    script(src='/javascripts/playerPage.js')
