extends layout

block content
    div#profilePage
        h6 username: {{ displayName }}
        h6 name: {{ name }}
        h6 statistics: {{ statistics }}
        h6 wallet: {{ wallet }}
    
block footerScripts
    script const user=!{pageData};
    script(src='/javascripts/components/profilePage.js')
