header {
	background-color: #555555;
	color: white;
	box-shadow: 0px 2px 7px 1px rgba(0,0,0,1);
	margin-bottom: 40px;
	min-height: 64px;
}
body {
	margin: 0 auto;
	background-color: #EEEEEE;
	}
body .navbar .text-color-cta, .text-color-cta {
	color: orange;
}
.matches_wrapper{
	margin-left: 10%;
	margin-right: 10%;
}
.row {
    margin-right: 0px;
	margin-left: 0px;
}
.radio_button {
	margin: 0 auto;
}
.form{
	float:right;
}

.imageFit{
	background-size:100%;
}
.team-logo {
	max-height: 60px;
}
/* cloaks un-compiled mustache bindings */
[v-cloak] {
  display: none;
}
